[submodule "customer-service"]
	path = customer-service
	url = https://github.com/marinasavchenko/customer-service.git
[submodule "configuration-service"]
	path = configuration-service
	url = git@github.com:marinasavchenko/configuration-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:marinasavchenko/order-service.git
[submodule "spring-cloud-eureka-service"]
	path = spring-cloud-eureka-service
	url = git@github.com:marinasavchenko/spring-cloud-eureka-service.git
[submodule "zuul-service"]
	path = zuul-service
	url = git@github.com:marinasavchenko/zuul-service.git
